.Main
  .Information
    .Information__title
      = "#{ current_user.name }さんの予約一覧"
    .Information__reservation
      .Datetime
        .Datetime__title ご希望の予約日時
        - @reservation.each do |reservation|
          - if current_user == reservation.user
            .Datetime__description
              = reservation.datetime
      .Course
        .Course__title ご希望の予約コース
        - @reservation.each do |reservation|
          - if current_user == reservation.user
            .Course__description
              = reservation.product.product_name