* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

$font-color: #fff;
$space: 40px;

@mixin account_left {
  border-right: 1px solid #B3B3B3;
  padding: 0px 15px;
  color: black;
}
@mixin account_right {
  margin: 0px 15px;
  color: black;
}

.Header {
  height: 120px;
}

.Top {
  background-color: #f7f7f8;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  color: $font-color;
  &__title {
    color: $font-color;
    padding-left: 30px;
  }
  &__account {
    display: flex;
    justify-content: end;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    &-sgin-up {
      @include account_left;
      border-left: 1px solid #B3B3B3;
    }
    &-sgin-in {
      @include account_right;
    }
    &-message {
      @include account_left;
    }
    &-logout {
      @include account_right;
    }
  }
}

.logout {
  cursor: pointer;
  border: none;
  background: transparent;
}

.Menu {
  display: flex;
  justify-content: flex-start;
  background-color: #BA3056;
  font-size: 13px;
  padding-left: 50px;
  &__new {
    color: $font-color;
  }
  &__confirm {
    padding-left: 50px;
    color: $font-color;
  }
}