* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

$font-color: #fff;
$space: 40px;


.Header {
  height: 120px;
  padding: 30px 50px;
}

.Top {
  background-color: #f7f7f8;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: $font-color;
  &__title {
    color: $font-color;
  }
  &__account {
    display: flex;
    justify-content: end;
    font-size: 14px;
    &__sgin-up {
      border-right: 1px solid #B3B3B3;
      border-left: 1px solid #B3B3B3;
      padding: 0px 15px;
    }
    &__sgin-in {
      margin-left: 15px;
    }
    &__message {
      border-right: 1px solid #B3B3B3;
      border-left: 1px solid #B3B3B3;
      padding: 0px 15px;
      color: black;
    }
    &__logout {
      margin: 0px 15px;
    }
  }
}

.logout {
  margin-left: 15px;
  border: none;
  background: transparent;
}

.Menu {
  display: flex;
  justify-content: flex-start;
  background-color: #BA3056;
  font-size: 13px;
  padding-left: 15px;
  &__new {
    color: $font-color;
  }
  &__check {
    color: $font-color;
    margin-left: $space;
  }
  &__change {
    color: $font-color;
    margin-left: $space;
  }
  &__cancel {
    color: $font-color;
    margin-left: $space;
  }
  &__back {
    color: $font-color;
    margin-left: $space;
  }
}