// トップページ（予約一覧）
* {
  box-sizing: border-box;
}

@mixin items {
  padding-bottom: 15px;
  display: flex;
}

@mixin title-rate {
  width: 40vw;
}

@mixin description-rate {
  width: 60vw;
}

@mixin button {
  color: #ffffff;
  border-radius: 2px;
  padding: 5px 30px;
  border-style: none;
}

.Datetime {
  @include items;
  margin-top: 20px;
  &__title {
    @include title-rate;
  }
  &__description {
    @include description-rate;
  }
}

.Course {
  @include items;
  &__title {
    @include title-rate;
  }
  &__description {
    @include description-rate;
  }
}

.Details {
  @include items;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  &__reservation {
    margin-left: 480px;
  }
}
