@media (min-width: 500px) {

  @mixin title{
    font-weight: bold;
    line-height: 1.4em;
  }

  @mixin input{
    // margin: 0px auto;
    width: 100%;
    padding-top: 3px;
    padding-left: 5px;
    height: 40px;
  }

  @mixin requirement{
    background-color: red;
    color: white;
    font-size: 0.8rem;
    display: inline-block;
    line-height: 1.4em;
    border-radius: 2px;
    margin-left: 4px;
    padding: 1px 2px;
    font-weight: bold;
  }

  @mixin main {
    margin: 0px auto;
    max-width: 60%;
  }

  @mixin button-parent {
    padding: 40px 0px;
    width: 60%;
    margin: 0px auto;
    text-align: center;
  }

  @mixin button-children {
    text-decoration: none;
    border-radius: 2px;
    width: 80%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 1.07rem;
    border: 2px solid #ffb6c1;
    background-color: #db7093;
    color: white;
    cursor: pointer;
  }
  // sgin_inとsgin_up共通

  .New_user {
    @include main;
  }

  .Session_user {
    @include main;
  }

  .Field {
    margin: 0px auto;
    max-width: 70%;
    padding: 0px 0px 35px 0px;
    &__box {
      max-width: 100%;
      .label {
        @include title;
      }
      .Requirement {
        @include requirement;
      }
    }
  &__input {
    @include input;
  }
}

  .Login {
    @include button-parent;
    &__button {
      @include button-children;
      }
    }

  .Register {
    @include button-parent;
    &__button {
      @include button-children;
    }  
  }

  .GuestLogin {
    margin: 0px auto;
    width: 60%;
    text-align: center;
    &__button {
      margin: 0px auto;
      width: 80%;
      text-decoration: none;
      border-radius: 2px;
      font-size: 1.07rem;
      color: black;
      background-color: white;
      border: 2px solid gray;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-right: 60px;
      padding-left: 60px;
      cursor: pointer;
    }
  }

  // ログイン時のアラート
  .alert {
    margin: 0px auto;
    max-width: 70%;
    color: red;
  }

  // 新規登録時のアラート
  .Alert__register {
    padding-top: 5px;
    margin: 0px auto;
    max-width: 100%;
    color: red;
  }

  // エラーメッセージのときのinputフィールドへの適用
  .field_with_errors {
    display: contents
  }
}