$font-size: 13px;

@mixin title{
  font-size: $font-size;
  font-weight: bold;
  line-height: 1.4em;
}

@mixin input{
  width: 100%;
  margin-top: 3px;
  height: 40px;
  font-size: $font-size;
}

@mixin requirement{
  background-color: red;
  color: white;
  font-size: 11px;
  display: inline-block;
  line-height: 1.4em;
  border-radius: 2px;
  margin-left: 4px;
  padding: 1px 2px;
  font-weight: bold;
}

@mixin button {
  background-color: #662F6D;
  padding: 3px 40px;
  color: white;
  border: 1px;
  font-size: $font-size;
  margin-bottom: 30px;
}

@mixin main {
  margin-top: 50px;
}

// sgin_inとsgin_up共通

.New_user {
  @include main;
}

.Session_user {
  @include main;
}

.Actions {
  padding: 0 500px;
  margin: 30px 0px;
  text-align: center;
}

.Field {
  padding: 0px 570px 35px 570px;
  font-size: $font-size;
// sgin_upの記述
  &__title {
    @include title;
  }
  &__input {
    @include input;
  }
  &__requirement {
    @include requirement;
  }
// sgin_inの記述
  &__item {
    @include title;
  }
  &__registered {
    @include input;
  }
  &__required-fields {
    @include requirement;
  }
}

.Login-button {
  @include button;
}

.Register-button {
  @include button;
}

.alert {
  color: red;
}

// エラーメッセージのときの適用

.field_with_errors {
  display: contents
}

// 予約の詳細
* {
  box-sizing: border-box;
}

@mixin items {
  padding-bottom: 15px;
  display: flex;
}

@mixin title-rate {
  width: 40vw;
}

@mixin description-rate {
  width: 60vw;
}

@mixin button {
  color: #ffffff;
  border-radius: 2px;
  padding: 5px 30px;
  border-style: none;
}

.Main {
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 50px;
  margin-bottom: 40px;
  width: 100vw;
  background-image: image-url("background.jpg");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 800px;
  font-size: 13px;
}

.Information {
  &__title {
    border-bottom: 5px solid gray;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  &__reservation {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.Box {
  position: relative;
  padding-top: 15px;
  &__change {
    background-color: #EA6791;
    @include button;
    position: absolute;
    top: 30px;
    left: 498px;
  }
  &__cancel {
    background-color: gray;
    @include button;
    position: absolute;
    top: 70px;
    left: 498px;
  }
}
  
.Datetime {
  @include items;
  margin-top: 20px;
  &__title {
    @include title-rate;
  }
  &__description {
    @include description-rate;
  }
}

.Course {
  @include items;
  &__title {
    @include title-rate;
  }
  &__description {
    @include description-rate;
  }
}

.Price {
  @include items;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  &__title {
    @include title-rate;
  }
  &__description {
    @include description-rate;
  }
}