html {
  font-size: 13px;
}

p {
  font-size: 1.0rem;
}

.Footer-layout {
  min-height: 100vh; // コンテンツの高さの最小値＝ブラウザの高さに指定
  position: relative; // 相対位置
  padding-bottom: 50px; // フッターの高さ
  box-sizing: border-box;
} 

.alert {
  color: red;
}

@import "reset";
@import "header";
@import "main";
@import "reservations";
@import "footer";
@import "modules/flash";
@import "users"