@media (min-width: 500px){
  * {
    box-sizing: border-box;
  }

  // 共通
  .Body {
    height: 70vh;
    margin: 0px auto;
    max-width: 100%;
  }

  // 新規予約時
  @mixin labels {
    font-weight: bold;
    line-height: 1.4em;
  }

  @mixin requirements {
    background-color: red;
    color: white;
    font-size: 0.8rem;
    display: inline-block;
    line-height: 1.4em;
    border-radius: 2px;
    margin-left: 4px;
    padding: 1px 2px;
    font-weight: bold;
  }

  @mixin selections{
    width: 100%;
    margin: 0px auto;
    height: 40px;
    padding: 13px 5px 13px 5px;
  }

  @mixin errors {
    margin: 0px auto;
    max-width: 50%;
    color: red;
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .Form-box {
    padding-top: 50px;
    margin: 0px auto;
    max-width: 100%;
    .ContentErea {
      margin: 0px auto;
      width: 70%;
    }
    // ご希望の日時
    &__datetime {
      padding: 15px 30px;
      margin: 0px auto;
      max-width: 50%;
      &-title {
        margin-top: 0px auto;
        max-width: 70%;
      }
      .Label {
        @include labels;
      }
      .Requirement {
        @include requirements;
      }
      &-select {
        @include selections;
      }
      &-alert {
        @include errors;
      }
    }
    // ご希望のコース
    &__course {
      padding: 15px 30px;
      margin: 0px auto;
      max-width: 50%;
      &-title {
        margin-top: 0px auto;
        max-width: 70%;
      }
      .label {
        @include labels;
      }
      .Requirement {
        @include requirements;
      }
      &-select {
        @include selections;
      }
      &-alert {
        @include errors;
      }
    }
  }

  .Reservation{
    padding-top: 50px;
    text-align: center;
    margin: 0px auto;
    width: 60%;
    &__button {
      margin: 0px auto;
      width: 60%;
      border-style: none;
      padding: 10px 140px;
      text-decoration: none;
      border-radius: 2px;
      font-size: 1.07rem;
      border: 2px solid #ffb6c1;
      background-color: #db7093;
      color: white;
      cursor: pointer;
    }
  }

  // 予約後の画面（create用） 
  .Contents {
    padding-top: 50px;
    margin-bottom: 40px;
    margin: 0px auto;
    max-width: 60%;
    &__field {
      color: black;
    }
  }

  .MessageTitle {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  .Explanation {
    border-radius: 4px;
    padding-left: 25px;
    margin-bottom: 10px;
    margin: 0px auto;
    max-width: 70%;
    text-align: center;
  }

  .MessageBox {
    border: 2px solid lightgray;
    border-radius: 4px;
    background-color: white;
    margin: 0px auto;
    max-width: 70%;
    text-align: center;
    padding-bottom: 15px;
    &__title {
      font-size: 1.15rem;
      font-weight: bold;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    &__reservation {
      padding-left: 20px;
    }
  }
  // 予約後の画面（create用） ここまで
  // 予約の詳細と一覧
  * {
    box-sizing: border-box;
  }

  @mixin items {
    padding-bottom: 15px;
    display: flex;
  }

  @mixin title-rate {
    width: 40vw;
  }

  @mixin description-rate {
    width: 60vw;
  }

  @mixin button {
    color: white;
    border-radius: 2px;
    padding: 5px 30px;
    border-style: none;
  }

  .Main {
    padding-top: 50px;
    margin: 0px auto;
    max-width: 70%;
  }

  .Information {
    margin-bottom: 40px;
    max-width: 100%;
    &__title {
      border-bottom: 5px solid gray;
      padding-bottom: 10px;
      margin: 0px 60px;
      font-size: 140%;
      font-weight: bold;
      text-align: center;
    }
    &__reservation {
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
  // 一覧ページで使用しているのはここまで

